@model DoAnLapTrinhWeb.Models.Product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Chi tiết sản phẩm</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/Home/index">Sản phẩm</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Chi tiết sản phẩm</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<h3>@Model.ProductName</h3>
<div class="container-fluid">
    <div class="row">
        <img class="col-5" height:300px" src="~/img/@Model.Img" />
        <div class="col-5">
            <p>Mã SP: @Model.ProductID</p>
            <p>Giá: @Model.Price</p>
            <p style="text-align:justify">@Model.Description</p>
        </div>
    </div>
</div>